/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.docsIndex {
  max-width: 80rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem auto;
}

.docsEntry {
  width: 100%;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media screen and (min-width: 768px) {
  .docsEntry {
    width: 40%;
    margin-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .docsEntry {
    width: 30%;
  }
}
